html {
  font-size: 16px; 
}

// magic number
body {
  background: #123456;
}

* {
  box-sizing: border-box;
}

.product {
  width: 200px;
  height: 200px;
}

.product-image {
  outline: 2px solid green;
}

// issue1: nesting
body {
  .product {
    .product-imag {
      .paragraph {
        font-size:  1rem;
      }
    }
  }
}

// over specifiy, creates the same issues as nesting actually
body .product .product-image .layout {
  float: left;
}

// Issue: deadly specificity (!important)
.product-image {
  outline: 20px solid red !important;
}
